
R/.Rproj.user/FE839D4B/saved_source_markers
.DS_Store
R/.RData
R/.Rhistory
R/.Rproj.user/FE839D4B/pcs/files-pane.pper
R/.Rproj.user/FE839D4B/pcs/source-pane.pper
R/.Rproj.user/FE839D4B/pcs/windowlayoutstate.pper
R/.Rproj.user/FE839D4B/pcs/workbench-pane.pper
R/.Rproj.user/FE839D4B/rmd-outputs
R/.Rproj.user/FE839D4B/sources/per/t/35E3023F
R/.Rproj.user/FE839D4B/sources/per/t/35E3023F-contents
R/.Rproj.user/FE839D4B/sources/per/t/45B3D1D1
R/.Rproj.user/FE839D4B/sources/per/t/45B3D1D1-contents
R/.Rproj.user/FE839D4B/sources/per/t/7F570884
R/.Rproj.user/FE839D4B/sources/per/t/7F570884-contents
R/.Rproj.user/FE839D4B/sources/per/t/92683812
R/.Rproj.user/FE839D4B/sources/per/t/92683812-contents
R/.Rproj.user/FE839D4B/sources/per/t/E9D0F548
R/.Rproj.user/FE839D4B/sources/per/t/E9D0F548-contents
R/.Rproj.user/FE839D4B/sources/per/t/F45B1255
R/.Rproj.user/FE839D4B/sources/per/t/F45B1255-contents
R/.Rproj.user/FE839D4B/sources/prop/139F33C0
R/.Rproj.user/FE839D4B/sources/prop/4826823B
R/.Rproj.user/FE839D4B/sources/prop/704D10D1
R/.Rproj.user/FE839D4B/sources/prop/70EB1474
R/.Rproj.user/FE839D4B/sources/prop/9B00C814
R/.Rproj.user/FE839D4B/sources/prop/9F8CBF57
R/.Rproj.user/FE839D4B/sources/prop/B718CE01
R/.Rproj.user/FE839D4B/sources/prop/BC05816B
R/.Rproj.user/FE839D4B/sources/prop/ECD837A6
R/.Rproj.user/FE839D4B/sources/prop/F1B0F845
R/.Rproj.user/FE839D4B/sources/prop/FAEB0DF6
R/.Rproj.user/FE839D4B/sources/prop/FFC9FE02
R/.Rproj.user/FE839D4B/sources/prop/INDEX
R/.Rproj.user/FE839D4B/viewer-cache/F3EA96BC.Rdata
R/.Rproj.user/shared/notebooks/patch-chunk-names
R/.Rproj.user/shared/notebooks/paths
R/R_PROJECT.Rproj
